
.slider {
  min-width: 250px;
  width: 100%;
}
.range-slider-fill {
  background-color: hsl(0, 0%, 21%);
}

a.navbar-item {
  outline: 0;
}

.fd-expanded {
  flex-grow: 1;
  flex-shrink: 1;
}

.fd-margin-left-auto {
  margin-left: auto;
}

.fd-has-action {
  cursor: pointer;
}

.fd-is-movable {
  cursor: move;
}

.fd-is-text-clipped {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fd-tabs-section {
  padding-bottom: 0;
}

.fd-progress-bar {
  top: 52px !important;
}

.sortable-chosen .media-right {
  visibility: hidden;
}
.sortable-ghost h1, .sortable-ghost h2 {
  color: hsl(348, 100%, 61%) !important;
}

.media:first-of-type {
  padding-top: 17px;
  margin-top: 16px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .4s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.title:not(.is-spaced) + .subtitle {
  margin-top: -1.3rem !important;
}
.title:not(.is-spaced) + .subtitle + .subtitle {
  margin-top: -1.3rem !important;
}
